// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$body-font-family: 'Vazir';
//$heading-font-family: 'Vazir';
//@import "font/Vazir-Light-FD-WOL.woff";

@font-face {
  font-family: 'Vazir';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/font/Vazir-Light-FD-WOL.ttf') format('truetype');
}

@import "vue-select/src/scss/vue-select.scss";

.vs__dropdown-toggle{
  border-color: forestgreen !important;
}
.vs__search {
  color: forestgreen;
}

.vs__actions {
  background-color: forestgreen !important;
  margin-top: 2px !important;
  border-radius: 15px !important;
}
